body {
    background-color: yellow;
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.centered {
    align-items: center;
    justify-content: center;
}

h1, h2, h3, h4, h5, p {
    color: red;
}

iframe {
    color: blue;
    padding: 4vw 25vw;
}